<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feeds</title>
    <link rel="stylesheet" href="/stylesheets/feed.css" />
    <!-- Remix Icon CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="py-3 px-8 flex justify-between items-center bg-white">
      <a href="#" class="flex gap-3 items-center" id="brand">
        <span class="font-semibold text-lg">SnapShare</span>
      </a>

      <div id="nav-menu" class="hidden lg:flex lg:items-center gap-10">
        <a
          class="font-semibold hover:text-[#ff006e] nav-link hover:border-b transition hover:-translate-y-1 border-[#ff006e] w-fit"
          href="/feed"
          >Feed</a
        >
        <a
          class="font-semibold hover:text-[#ff006e] nav-link hover:border-b transition hover:-translate-y-1 border-[#ff006e] w-fit"
          href="/profile"
          >Profile</a
        >
        <a
        href="/logout"
        class="bg-black text-white px-10 py-3 font-semibold hover:text-[#ff006e]"
        >Logout <i class="ri-arrow-right-up-line"></i
      ></a>
      </div>

      <button id="menuButton" class="p-2 md:hidden">
        <i class="ri-menu-line text-gray-600 font-semibold"></i>
      </button>

      <div
        id="nav-dialog"
        class="hidden fixed z-10 md:hidden bg-white inset-0 p-3"
      >
        <div id="nav-bar" class="flex justify-between">
          <a href="#" class="flex gap-3 items-center" id="brand">
            <span class="font-semibold text-lg">SnapShare</span>
          </a>
          <button id="closeMenuButton" class="p-2 md:hidden">
            <i class="ri-close-large-line text-gray-600 font-semibold"></i>
          </button>
        </div>
        <div class="mt-6">
          <a
            href="/feed"
            class="font-semibold m-3 p-3 block rounded-md hover:bg-gray-50"
            >Feed</a
          >
          <a
            href="/profile"
            class="font-semibold m-3 p-3 block rounded-md hover:bg-gray-50"
            >Profile</a
          >
          <a
          href="/logout"
          class="bg-black text-white px-10 py-3 font-semibold hover:text-[#ff006e]"
          >Logout <i class="ri-arrow-right-up-line"></i
        ></a>
        </div>
      </div>
    </nav>

    <!-- <main>
      <div class="h-screen py-3 px-4 flex flex-wrap justify-center md:justify-start gap-4 xl:gap-2 bg-re">
        <% posts.forEach(function(post){ %>
          <div class="w-fit h-fit">
            <div class="w-64 h-80 rounded overflow-hidden md:w-60 xl:w-56">
              <a href="/post/details?postId=<%= post._id %>&userId=<%= post.user %>&postImage=<%= post.postImage %>&title=<%= post.title %>&profileImage=<%= post.user.profileImage %>">
              <img class="w-full h-full object-cover" src="/images/uploads/<%= post.postImage %>" alt="">
            </div>
            <div class="w-60">
              <h4 class="font-semibold pl-2 mt-2"><%= post.title %></h4>
              <p class="text-xs font-semibold opacity-60 pl-2 pb-2">@<%= post.user.username %></p>
            </div>
          </div>
        <% }) %>
      </div>
    </main> -->

        <!-- posts -->
        <div class="flex flex-wrap gap-5 justify-center md:justify-start md:px-6 lg:px-10 xl:px-16">
          <% posts.forEach(function(post){ %>

            <div class="h-fit">
              <div>
                <!-- Posts -->
                <div class="w-72 h-96 bg-purple-300 rounded overflow-hidden cursor-pointer lg:w-64 lg:h-80">
                  <a href="/post/details?postId=<%= post._id %>&userId=<%= post.user %>&postImage=<%= post.postImage %>&title=<%= post.title %>&profileImage=<%= post.user.profileImage %>">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%= post.postImage %>" alt="">
                  </a>
                </div>
                <div class="py-2 px-2">
                  <p class="font-semibold"><%= post.title %></p>
                  <p class="text-xs font-semibold opacity-70">@<%= post.user.username %></p>
                </div>
              </div>
            </div>

          <% }) %>
        </div>

    <script>
      // Selecting elements
      const menuButton = document.getElementById("menuButton");
      const closeMenuButton = document.getElementById("closeMenuButton");
      const navDialog = document.getElementById("nav-dialog");
      const navLinks = document.querySelectorAll(".nav-link");

      // Function to handle menu button click
      const handleMenu = () => {
        navDialog.classList.toggle("hidden");
      };

      // Function to handle close menu button click
      const handleCloseMenu = () => {
        navDialog.classList.add("hidden");
      };

      // Attaching event listeners
      menuButton.addEventListener("click", handleMenu);
      closeMenuButton.addEventListener("click", handleCloseMenu);

      // Adding event listeners to nav links to close the menu when clicked
      navLinks.forEach((link) => {
        link.addEventListener("click", handleCloseMenu);
      });
    </script>
  </body>
</html>